<!DOCTYPE html>
<html>
	<head>
		<title>Leitor</title>
	</head>
	<body>
		<h1>Leitor</h1><br>
		<div id="visualizar">
			<h2>Visualizar obra</h2>
			<form action="http://127.0.0.1:8081/visualizarObra" method="get">
				<label>Carteira usuário</label>
				<input type="text" name="carteiraUsuario" id="carteiraUsuario">
				<label>Hash transação</label>
				<input type="text" name="hashTransacao">
				<input type="submit" value="Visualizar">
			</form>
		</div>
		<br><br>
		<div id="transferir">
			<h2>Transferir obra</h2>
			<form action="http://127.0.0.1:8081/transferirObra" method="get">
				<label>Hash transação</label>
				<input type="text" name="hashTransacao"><br><br>
				<label>Carteira usuário origem</label>
				<input type="text" name="carteiraUsuarioOrigem" id="carteiraUsuarioOrigem"><br><br>
				<label>Carteira usuário destino</label>
				<input type="text" name="carteiraUsuarioDestino" id="carteiraUsuarioDestino"><br><br>
				<label>Validade</label>
				<input type="date" name="validade" id="validade"><br><br>
				<input type="submit" value="Transferir">
			</form>
		</div>
	</body>
</html>

<!-- <script src="/scripts/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">
	
		$("#visualizar-obra").click(function(){
			var carteiraUsuario = $("#carteiraUsuario").val();
			var hashTransacao = $("#hashTransacao").val();
			if(carteiraUsuario == "" || hashTransacao == ""){
				alert("Insira a carteira do usuário e o hash da transação para visualizar o conteúdo da obra!");
			}else{
				$.get("http://127.0.0.1:8080/usuario/"+carteiraUsuario+"/obra/"+hashTransacao, {}, function(result){
					var conteudo = "<p>"+result.response+"</p>";
					$("#conteudo-obra").html(conteudo);
					if(result.error == true){
						$("#conteudo-obra").css("color", "red");
					}else{
						$("#conteudo-obra").css("color", "green");
					}
				}, 'json');
			}
		});
	
</script> -->